<div class="container">
    <h1>Produkte</h1>
    <div class="col vh-7">
        <a class="btn btn-outline-light btn-lg " href="/products/new">Produkt hinzufügen</a>
    </div>
    <div class="item-content">
        <table class="table table-bordered border-black table table-striped">
            <thead class="table-active">
                <th scope="col">Name</th>
                <th scope="col">Modell</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Preis</th>
                <th scope="col" colspan="3">Optionen</th>
            </thead>
            <tbody>
                <% products.forEach(function(product){ %>
                    <tr>
                        <td>
                            <%= product.titel %>
                        </td>
                        <td>
                            <%= product.carmodel.name %>
                        </td>
                        <td>
                            <%= product.category.name %>
                        </td>
                        <td>
                            <%= product.preis %>
                        </td>
                        <td>
                            <a class="button text-black" href="/products/<%= product.id %>">anzeigen</a>
                        </td>
                        <% if(req.me.isSuperAdmin) { %>
                        <td>
                            <a class="button text-black" href="/products/<%= product.id %>/edit">bearbeiten</a>
                        </td>
                        <td>
                            <a class="button text-black" href="/products/<%= product.id %>/destroy">löschen</a>
                        </td>
                        <% } %>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>