<div class="container">
    <h2>Produkt</h2>
    <div class="card w-100 p-0">
        <div class="card-header p-4">
            <h4><b>Produkt anzeigen</b></h4>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">
                            <b>Name</b>
                        </li>
                        <li class="list-group-item p-4">
                            <b>Beschreibung</b>
                        </li>
                        
                        <li class="list-group-item p-4">
                            <b>Preis</b>
                        </li>
                        <li class="list-group-item p-4">
                            <b>Modell</b>
                        </li>
                        <li class="list-group-item p-4">
                            <b>Kategorie</b>
                        </li>

                    </ul>
                </div>
                <div class="col-9 p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-4">
                            <%= product.titel %>
                        </li>
                        <li class="list-group-item p-4">
                            <%= product.beschreibung %>
                        </li>
                       
                        <li class="list-group-item p-4">
                            <%= product.preis %>
                        </li>
                        <li class="list-group-item p-4">
                            <%= product.carmodel.name %>
                        </li>
                        <li class="list-group-item p-4">
                            <%= product.category.name %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>